---
// Layout
import Layout from '../layouts/Layout.astro';

// Components 
import CanvasEj from "../components/canvasEj/CanvasEj"

---

<Layout title="Canvas.">
	<main>
		<h1>canvas</h1>
	</main>
	<section >
    <CanvasEj client:load/>
  </section>
</Layout>